---
const {color, title, subtitle} = Astro.props
const textColor = `text-${color}`
---

<section class={`landing-section text-center w-full ${textColor} relative h-screen overflow-hidden`} data-header-color={color}>
    <div class="relative z-20 h-full flex flex-col">
        <header >
            <h2 class="pt-40 text-[40px] font-medium">{title}</h2>
            <p class="text-sm">{subtitle}</p>
        </header>
        <footer class="flex flex-col flex-grow items-center pb-24 justify-end">
            <slot name="footer"/>
           
        </footer>
    </div>			
    
    <div class="absolute top-0 bottom-0 w-full h-full">
        <slot name="background"/>
        
    </div>
    

</section>